header{
  background-color: #3E68AF;

}

.app_name a{
  color: #FFFFFF;
  text-decoration: none;
}

.btn a{
  text-decoration: none;
}

/* ———————————————————————————————————————— */
/* 投稿一覧 */
/* - - - - - - - - - - - - - - - - - - - -  */

#post_menu {
  list-style: none;
}

.new_post{
  margin: 20px 10% ;
}

.contents_field{
  border: 2px solid;
  border-color: #cccccc;
  border-radius: 10px;
  margin: 0% 10% 20px;
  padding: 25px;
  
}

.post_head{
  width: 100%;
}

.user_name{
  font-weight: bold;
  float: left;
}

#post_menu {
  list-style: none;
  float: right;
}

#post_menu ul{
  align-items: center; 
}

#post_menu li:last-child{
  border-right: #ddd 1px solid;
}
 
#post_menu li {
  display: inline;
  padding: 0 10px;
  border-left: #ddd 1px solid;
}
 
#post_menu li a {
  text-decoration: none;
}

.content_text_only {
  width: 100%;
  padding-top: 40px;
}

.content_text {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.content_image img {
  width: 100%;
  border-radius: 10px;
}

/* ———————————————————————————————————————— */
/* new, show, editのコンテンツ部分 */
/* - - - - - - - - - - - - - - - - - - - -  */

.heading{
  margin: 20px 0% ;
}

.btn_back{
  margin-top: 20px;
}

.btn_back a{
  color: #FFFFFF;
}

/* ———————————————————————————————————————— */
/* ログインフォーム */
/* - - - - - - - - - - - - - - - - - - - -  */

.form_login td {
  padding: 0px 20px 10px 0px;
}

.form_login_submit{
  padding: 0px 20px 0px 0px;
}